#feature-header,
#comments-header,
#best-seller-header {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 4em;
  color: #420039;
  letter-spacing: 0.05em;
}
#home-main {
  margin: 0 auto;
  width: 90%;
  height: 37rem;
  background-image: url("../assets/DesertTwilight1600.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
#home-main-header {
  color: white;
  text-shadow: -1px -1px 0 #420039, 1px -1px 0 #420039, -1px 1px 0 #420039,
    1px 1px 0 #420039;
  font-family: "Italianno", cursive;
  font-size: 10em;
  padding-top: 10rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: 2s ease-in-out;
}
#home-main-header.show {
  opacity: 1;
  transform: translate(0);
}
#home-main-subheader {
  background-color: #f6f2ff;
  color: #420039;
  font-family: "Italianno", cursive;
  font-size: 3em;
  text-wrap: balance;
}
#feature-header {
  margin-top: 2rem;
}
.featured-products-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-container {
  text-align: center;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}
.product-container p {
  font-size: 1.2em;
  margin-top: 1rem;
  color: #420039;
}
.product-img-container {
  border-bottom: 2px solid #420039;
  border-top: 2px solid #420039;
  margin: 0 1rem;
  position: relative;
}
.product-img-container img {
  margin: 1rem 0;
  width: 15rem;
  height: 20rem;
  object-fit: contain;
}
.product-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #420039;
  color: white;
  padding: 0.25rem 0.75rem;
  /* font-weight: bold; */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.product-price {
  font-weight: bold;
}
.buy-now-btn {
  border: 2px solid #932f6d;
  border-radius: 0.5rem;
  background-color: #932f6d;
  color: white;
  padding: 0.25rem 0.75rem;
  transition: 200ms ease-in-out;
}
.buy-now-btn:hover {
  background-color: white;
  color: #932f6d;
  transform: translateY(-2px);
}
.more-link {
  color: #420039;
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3em;
}
#comments-header {
  padding-top: 2rem;
}
#comments-carousel {
  height: 11rem;
}
.carousel-item {
  text-align: center;
  color: #420039;
}
.carousel-text-container {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-text {
  padding: 0 3rem;
  text-wrap: balance;
  font-size: 1.2em;
  margin-top: auto;
  letter-spacing: 0.01em;
}
.commenter {
  font-family: "Italianno", cursive;
  font-size: 2em;
}

@media (max-width: 768px) {
  #home-main {
    width: 100%;
    border: none;
  }
  #home-main h1 {
    font-size: 8em;
  }
  .product-img-container {
    border-bottom: none;
  }
  .buy-now-btn {
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 600px) {
  #comments-carousel {
    height: 13rem;
  }
}
@media (max-width: 562px) {
  #comments-carousel {
    height: 14rem;
  }
}
@media (max-width: 417px) {
  #comments-carousel {
    height: 16rem;
  }
}
/* font-family: 'Carattere', cursive; */
/* font-family: 'Euphoria Script', cursive; */
/* font-family: 'Italianno', cursive; */
/* font-family: 'Parisienne', cursive; */
/* font-family: 'Petit Formal Script', cursive; */
/* font-family: 'Rouge Script', cursive; */
