h1 {
  font-family: "Italianno", cursive;
  text-align: center;
  color: #420039;
  padding: 1rem 0;
  font-size: 4em;
  text-wrap: balance;
}
form {
  width: 40rem;
  background-color: #f6f2ff;
  color: #420039;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
form input,
form label {
  display: block;
}
form label {
  font-weight: bold;
  margin-bottom: 1rem;
}
form input {
  width: 100%;
  border: none;
  border: 1px solid #932f6d;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
form input:focus {
  outline: 1px solid #420039;
}
form button {
  background-color: #932f6d;
  color: white;
  border: 2px solid #932f6d;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  transition: 200ms ease-in-out;
}
form button:hover {
  color: #932f6d;
  background-color: white;
}
