.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  transform: translateY(-5rem);
  transition: 1500ms ease-in-out;
  font-size: 1.2em;
}
.navbar.show {
  transform: translate(0);
}
.nav-item {
  border-bottom: 2px solid #f6f2ff;
  transition: 200ms ease-in-out;
}
.nav-item:hover {
  border-bottom: 2px solid black;
}
#navbar-logo {
  width: 8rem;
}
.dropdown-item {
  transition: 100ms ease-in-out;
}
.dropdown-item:hover {
  text-decoration: underline;
}
#nav-contact-btn {
  border: 2px solid #932f6d;
  color: white;
  transition: 200ms ease-in-out;
  font-size: 1.03em;
}
#nav-contact-btn:hover {
  color: #932f6d;
}
#contact {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 2.5em;
  padding-bottom: 3rem;
  color: #420039;
}
#contact h1 {
  font-size: 2em;
  padding-top: 1rem;
}
#contact-content-container {
  display: flex;
  justify-content: space-evenly;
}
#contact-content-container a {
  width: 46%;
  color: #420039;
  text-decoration: none;
  transition: 200ms ease-in-out;
  border-bottom: #420039 1px solid;
}
#contact-content-container a:hover {
  transform: scale(1.02);
}
#mc_embed_shell {
  text-align: center;
  background-color: #f6f2ff;
  color: #420039;
  padding-bottom: 2rem;
}
#mc_embed_signup_scroll h2 {
  font-family: "Italianno", cursive;
  font-size: 3.5em;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-wrap: balance;
}
#mc-field-group-container {
  margin: 0 20%;
}
.mc-field-group label {
  font-family: "Italianno", cursive;
  font-size: 2.5em;
  margin: 0.5rem 0;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.mc-field-group label:hover {
  transform: translateY(-2px);
}
.mc-field-group input {
  font-size: 2em;
  border: none;
  color: #420039;
  background-color: #f6f2ff;
  border-bottom: 1px solid #420039;
  margin: 0 0.5em;
  font-family: "Italianno", cursive;
}
.mc-field-group input:focus {
  outline: none;
}
#mc-first-last-container {
  display: flex;
  justify-content: space-evenly;
}
input.button {
  font-family: "Italianno", cursive;
  font-size: 2em;
  background-color: #f6f2ff;
  border: 2px solid #420039;
  border-radius: 1rem;
  color: #420039;
  margin-top: 1rem;
  padding: 0rem 1.5rem;
  transition: 100ms ease-in-out;
}
input.button:hover {
  border: 2px solid #f6f2ff;
  transform: translateY(2px);
}
.offcanvas {
  background-color: #f6f2ff;
  text-align: center;
}
#cart-btn {
  position: fixed;
  top: 50vh;
  right: 0;
  /* border: 1px solid red; */
  outline: 3px solid #dcccff;
}
#cart-icon {
  width: 2.5rem;
  position: sticky;
}
.cart-item {
  padding: 1rem 0.5rem;
}
.cart-info-box {
  display: flex;
  justify-content: space-between;
}
.cart-item:nth-of-type(2n) {
  background-color: #dcccff;
}
.item-design,
.item-type {
  font-weight: bold;
}
.item-id {
  display: none;
}
#cart-total {
  border-top: 2px solid #932f6d;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1.3em;
  font-weight: bold;
  text-align: end;
}
#checkout {
  border: none;
  outline: 2px solid #932f6d;
  background-color: #932f6d;
  color: white;
  padding: 0.5rem 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3em;
  transition: 200ms ease-in-out;
}
#checkout:hover {
  background-color: white;
  color: #932f6d;
}
#view-cart {
  display: block;
  margin: 0 auto;
}
#view-cart button {
  border: none;
  background-color: transparent;
}
#view-cart button:hover {
  text-decoration: underline;
}
.toast-header img {
  width: 2rem;
}
.background-dark {
  background-color: #420039;
}
.background-purple {
  background-color: #932f6d;
}
.background-pink {
  background-color: #e07be0;
}
.background-lavender {
  background-color: #dcccff;
}
.background-light {
  background-color: #f6f2ff;
}
@media (max-width: 768px) {
  .nav-item:hover {
    border-bottom: 2px solid #f6f2ff;
  }
  #mc-first-last-container,
  #contact-content-container {
    flex-direction: column;
  }
  #contact-content-container a {
    width: 100%;
    border-bottom: none;
  }
}
