h1 {
  font-family: "Italianno", cursive;
  font-size: 5em;
  text-align: center;
  color: #420039;
  margin-top: 2rem;
}
h2 {
  font-family: "Italianno", cursive;
  font-size: 3.5em;
  color: #420039;
  margin-left: 2rem;
}
.video-chart-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.chart-container,
.video {
  max-width: 35%;
}
.chart-container {
  position: relative;
}
.chart {
  width: 100%;
}
.download-btn {
  position: absolute;
  top: 4px;
  right: 3px;
  background-color: #932f6d;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.download-btn:hover {
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .video-chart-container {
    flex-direction: column;
  }
  .chart-container,
  .video {
    max-width: 70%;
  }
  .video {
    margin-bottom: 1rem;
  }
}
